In [11]:
from pathlib import Path
from cnwi.cnwilib import data_eng

DATA_DIR = Path("./output/ingested")

manifest = data_eng.data_manifest(DATA_DIR)

In [12]:
manifest.head()

                                  file_path  ECOREGION_ID  type
0    output/ingested/122/trainingPoints.shp           122     1
1  output/ingested/122/validationPoints.shp           122     2
2            output/ingested/122/region.shp           122     3
3    output/ingested/123/trainingPoints.shp           123     1
4  output/ingested/123/validationPoints.shp           123     2

In [13]:
training, regions, lookup = data_eng.process_data_manifest(manifest)

In [14]:
# training.head()
training.head()

   class_name                    geometry  type  ECOREGION_ID
0           1  POINT (-62.66561 45.66387)     1           122
1           1  POINT (-63.62492 45.79504)     1           122
2           1  POINT (-62.59665 45.56264)     1           122
3           1  POINT (-64.05334 45.86434)     1           122
4           1  POINT (-64.22656 46.01314)     1           122

In [15]:
regions.head()

,ECOREGION_,ECOZONE_ID,ECOPROVINC,ECOREGION1,ECOREGIO_1,Shape_Leng,Shape_Area,geometry,ECOREGION_ID
0,122,7,7.2,Maritime Lowlands,Basses terres des Maritimes,6.336212e+05,7.452965e+09,"POLYGON ((-64.19000 45.76084, -64.18320 45.769...",122
0,123,7,7.3,Fundy Coast,Côte de la baie de Fundy,1.073969e+06,7.174831e+09,"POLYGON ((-64.19000 45.76084, -64.20340 45.763...",123
0,124,7,7.3,Southwest Nova Scotia Uplands,Hautes terres du sud-ouest de la Nouvelle-Écosse,6.950815e+05,1.595689e+10,"POLYGON ((-63.65414 44.63406, -63.66537 44.633...",124
0,125,7,7.3,Atlantic Coast,Côte de l'Atlantique,2.040149e+06,1.541296e+10,"POLYGON ((-66.25325 44.22020, -66.22110 44.257...",125
0,126,7,7.3,Annapolis-Minas Lowlands,Basses terres d'Annapolis-Minas,7.660646e+05,4.725359e+09,"POLYGON ((-62.88085 45.32179, -62.88270 45.319...",126

In [16]:
lookup

               0
Marsh          1
Open water     2
Swamp          3
Salt marsh     4
Fen            5
Bog            6
Upland         7
Shallow water  8

In [17]:
from pathlib import Path

output_dir = Path("output")
if not output_dir.exists():
    output_dir.mkdir()

training.to_file(output_dir / "training.geojson", driver="GeoJSON")
regions.to_file(output_dir / "regions.geojson", driver="GeoJSON")
lookup.to_csv(output_dir / "lookup.csv")

In [18]:
data_eng.split_and_zip(training,"ECOREGION_ID", output_dir)

/home/rhamilton/code/cnwi/cnwi/cnwilib/data_eng.py:104: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  group.to_file(scratch / f"{file_prefix}_{_}.shp", driver="ESRI Shapefile")
/home/rhamilton/code/cnwi/cnwi/cnwilib/data_eng.py:104: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  group.to_file(scratch / f"{file_prefix}_{_}.shp", driver="ESRI Shapefile")
/home/rhamilton/code/cnwi/cnwi/cnwilib/data_eng.py:104: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  group.to_file(scratch / f"{file_prefix}_{_}.shp", driver="ESRI Shapefile")
/home/rhamilton/code/cnwi/cnwi/cnwilib/data_eng.py:104: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  group.to_file(scratch / f"{file_prefix}_{_}.shp", driver="ESRI Shapefile")
/home/rhamilton/code/cnwi/cnwi/cnwilib/data_eng.py:104: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  group.to_file(scratch / f"{file_prefix}_{_}.shp", driver="ESRI Shapefile")
/home/rhamilton/code/cnwi/cnwi/cnwilib/data_eng.py:104: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  group.to_file(scratch / f"{file_prefix}_{_}.shp", driver="ESRI Shapefile")
/home/rhamilton/code/cnwi/cnwi/cnwilib/data_eng.py:104: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  group.to_file(scratch / f"{file_prefix}_{_}.shp", driver="ESRI Shapefile")
/home/rhamilton/code/cnwi/cnwi/cnwilib/data_eng.py:104: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  group.to_file(scratch / f"{file_prefix}_{_}.shp", driver="ESRI Shapefile")

In [19]:
data_eng.split_and_zip(regions,"ECOREGION_ID", output_dir, file_prefix="regions")

/home/rhamilton/code/cnwi/cnwi/cnwilib/data_eng.py:104: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  group.to_file(scratch / f"{file_prefix}_{_}.shp", driver="ESRI Shapefile")
/home/rhamilton/code/cnwi/cnwi/cnwilib/data_eng.py:104: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  group.to_file(scratch / f"{file_prefix}_{_}.shp", driver="ESRI Shapefile")
/home/rhamilton/code/cnwi/cnwi/cnwilib/data_eng.py:104: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  group.to_file(scratch / f"{file_prefix}_{_}.shp", driver="ESRI Shapefile")
/home/rhamilton/code/cnwi/cnwi/cnwilib/data_eng.py:104: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  group.to_file(scratch / f"{file_prefix}_{_}.shp", driver="ESRI Shapefile")
/home/rhamilton/code/cnwi/cnwi/cnwilib/data_eng.py:104: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  group.to_file(scratch / f"{file_prefix}_{_}.shp", driver="ESRI Shapefile")
/home/rhamilton/code/cnwi/cnwi/cnwilib/data_eng.py:104: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  group.to_file(scratch / f"{file_prefix}_{_}.shp", driver="ESRI Shapefile")
/home/rhamilton/code/cnwi/cnwi/cnwilib/data_eng.py:104: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  group.to_file(scratch / f"{file_prefix}_{_}.shp", driver="ESRI Shapefile")
/home/rhamilton/code/cnwi/cnwi/cnwilib/data_eng.py:104: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  group.to_file(scratch / f"{file_prefix}_{_}.shp", driver="ESRI Shapefile")