In [1]:
import os
from pathlib import Path
import pandas as pd

from cnwi.cnwilib.data import Manifest

In [2]:
DATA_DIR = Path("/home/rhamilton/code/cnwi/test_data/aoi_NS/data")
manifest = Manifest(DATA_DIR)

In [3]:
manifest.create()

manifest.save(
    where=DATA_DIR /'output'/ "manifest.csv",
)

                                            file_path region_id  type
0   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       122     1
1   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       122     2
2   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       122     3
3   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       123     1
4   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       123     2
5   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       123     3
6   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       124     1
7   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       124     2
8   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       124     3
9   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       125     1
10  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       125     2
11  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       125     3
12  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       126     1
13  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       126     2
14  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       126     3
15  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       127     1
16  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       127     2
17  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       127     3
18  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       128     1
19  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       128     2
20  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       128     3
21  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       129     1
22  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       129     2
23  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       129     3

In [8]:
from cnwi.cnwilib.data import ManifestProcessor

proc = ManifestProcessor(manifest)
proc.process()

In [9]:
proc.training.head()

   class_name                    geometry  type region_id
0           1  POINT (-63.86284 46.11053)     2       122
1           1  POINT (-64.17610 45.85872)     2       122
2           1  POINT (-62.50785 45.63782)     2       122
3           1  POINT (-63.92087 45.78932)     2       122
4           1  POINT (-64.20506 45.87933)     2       122

In [10]:
# save the processed data to disk

{'Marsh': 1,
 'Open water': 2,
 'Swamp': 3,
 'Salt marsh': 4,
 'Fen': 5,
 'Bog': 6,
 'Upland': 7,
 'Shallow water': 8}