In [1]:
import os
from pathlib import Path
import pandas as pd

from cnwi.cnwilib.data import Manifest

In [2]:
DATA_DIR = Path("/home/rhamilton/code/cnwi/test_data/aoi_NS/data")
manifest = Manifest(DATA_DIR)

In [3]:
manifest.manifest

                                            file_path region_id  type
0   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       127   2.0
1   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       127   1.0
2   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       127   3.0
3   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       123   2.0
4   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       123   1.0
5   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       123   3.0
6   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       122   2.0
7   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       122   1.0
8   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       122   3.0
9   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       NaN   NaN
10  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       NaN   NaN
11  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       125   2.0
12  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       125   1.0
13  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       125   3.0
14  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       126   2.0
15  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       126   1.0
16  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       126   3.0
17  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       128   2.0
18  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       128   1.0
19  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       128   3.0
20  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       129   2.0
21  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       129   1.0
22  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       129   3.0
23  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       124   2.0
24  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       124   1.0
25  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       124   3.0

In [4]:
manifest.training

                                            file_path region_id  type
1   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       127   1.0
4   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       123   1.0
7   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       122   1.0
12  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       125   1.0
15  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       126   1.0
18  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       128   1.0
21  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       129   1.0
24  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       124   1.0

In [5]:
manifest.validation

                                            file_path region_id  type
0   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       127   2.0
3   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       123   2.0
6   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       122   2.0
11  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       125   2.0
14  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       126   2.0
17  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       128   2.0
20  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       129   2.0
23  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       124   2.0

In [8]:
manifest.file_paths

                                            file_path
0   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...
1   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...
2   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...
3   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...
4   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...
5   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...
6   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...
7   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...
8   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...
9   /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...
10  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...
11  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...
12  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...
13  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...
14  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...
15  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...
16  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...
17  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...
18  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...
19  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...
20  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...
21  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...
22  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...
23  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...
24  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...
25  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...

In [15]:
import geopandas as gpd

dfs = []
for _, files in manifest:
    print(files[files["type"]!= 3])
    for _, row in files[files["type"]!= 3].iterrows():
        gdf = gpd.read_file(row["file_path"])
        gdf["type"] = row["type"]
        gdf.to_crs("EPSG:4326", inplace=True)
        dfs.append(gdf)
dfs = pd.concat(dfs)

                                           file_path region_id  type
6  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       122   2.0
7  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       122   1.0
                                           file_path region_id  type
3  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       123   2.0
4  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       123   1.0
                                            file_path region_id  type
23  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       124   2.0
24  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       124   1.0
                                            file_path region_id  type
11  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       125   2.0
12  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       125   1.0
                                            file_path region_id  type
14  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       126   2.0
15  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       126   1.0
                                           file_path region_id  type
0  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       127   2.0
1  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       127   1.0
                                            file_path region_id  type
17  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       128   2.0
18  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       128   1.0
                                            file_path region_id  type
20  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       129   2.0
21  /home/rhamilton/code/cnwi/test_data/aoi_NS/dat...       129   1.0

In [16]:
dfs.head()

  class_name                    geometry  type
0      Marsh  POINT (-63.86284 46.11053)   2.0
1      Marsh  POINT (-64.17610 45.85872)   2.0
2      Marsh  POINT (-62.50785 45.63782)   2.0
3      Marsh  POINT (-63.92087 45.78932)   2.0
4      Marsh  POINT (-64.20506 45.87933)   2.0

In [17]:
from cnwi.cnwilib.data import LookupTable
lookup_table = LookupTable(labels=dfs['class_name'].unique().tolist())

In [18]:
lookup_table.mapper

{'Marsh': 1,
 'Open water': 2,
 'Swamp': 3,
 'Salt marsh': 4,
 'Fen': 5,
 'Bog': 6,
 'Upland': 7,
 'Shallow water': 8}

In [19]:
dfs['class_name'] = dfs['class_name'].map(lookup_table.mapper)
dfs.head()

   class_name                    geometry  type
0           1  POINT (-63.86284 46.11053)   2.0
1           1  POINT (-64.17610 45.85872)   2.0
2           1  POINT (-62.50785 45.63782)   2.0
3           1  POINT (-63.92087 45.78932)   2.0
4           1  POINT (-64.20506 45.87933)   2.0

In [20]:
lookup_table.table

      class_name  value
0          Marsh      1
1     Open water      2
2          Swamp      3
3     Salt marsh      4
4            Fen      5
5            Bog      6
6         Upland      7
7  Shallow water      8